<ion-view view-title="Usage">
  <ion-nav-buttons side="secondary">
      <button class="button button-clear icon ion-gear-a"></button>
    </ion-nav-buttons>
  <ion-content class="padding">
    <!-- <hc-chart options="chartOptions">Placeholder for generic chart</hc-chart>
    <hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart> -->

    <div class="button-bar">
        <a href="#/tab/usage" class="button button-positive" data-ng-class="{'button-outline':type !== 'hourly'}" data-ng-click="type = 'hourly'">Hourly</a>
        <a class="button button-outline button-positive" data-ng-class="{'button-outline':type !== 'daily'}" data-ng-click="type = 'daily'">Daily</a>
        <a class="button button-outline button-positive" data-ng-class="{'button-outline':type !== 'monthly'}" data-ng-click="type = 'monthly'">Monthly</a>
    </div>

    <div class="chart-wrapper">
      <div class="chart-inner">
        <hc-rose-chart title="winds" data="data" style="width:90%;height:70%">Placeholder for rose chart</hc-rose-chart>
      </div>
    </div>
  </ion-content>
</ion-view>
