<ion-view view-title="Usage">
  <ion-content class="padding">
    <!-- <hc-chart options="chartOptions">Placeholder for generic chart</hc-chart>
    <hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart> -->

    <div class="clear-button-bar">
        <a href="#/tab/usage" class="clear-button clear-button-first clear-button-active">Hourly</a>
        <a href="#tab2" class="clear-button clear-button-middle">Daily</a>
        <a href="#tab3" class="clear-button clear-button-last">Monthly</a>
    </div>

    <div class="chart-wrapper">
      <div class="chart-inner">
        <hc-rose-chart title="winds" data="data" style="width:90%;height:70%">Placeholder for rose chart</hc-rose-chart>
      </div>
    </div>
  </ion-content>
</ion-view>
